# Post Deployment Language Switching QA

[Task](https://phabricator.wikimedia.org/T275762)
|
[Schema](https://gerrit.wikimedia.org/r/plugins/gitiles/schemas/event/secondary/+/refs/heads/master/jsonschema/analytics/legacy/universallanguageselector/current.yaml)

In [19]:
shhh <- function(expr) suppressPackageStartupMessages(suppressWarnings(suppressMessages(expr)))
shhh({
    library(tidyverse); 
    library(lubridate); 
    library(scales);
    library(magrittr); 
    library(dplyr)
})

## Language Links in the Siderbar

[Instrumentation Task](https://phabricator.wikimedia.org/T275762)

Instrumentation Notes:
- Instrumentation limited to legacy sidebar in modern Vector.
- Logged as `event.context = 'languages-list'`

In [14]:
query <- 
"
SELECT
    TO_DATE(dt) AS `date`,
    wiki,
    event.web_session_id,
    event.usereditbucket,
    event.timetochangelanguage,
    event.isanon,
    event.interfacelanguage,
    event.contentlanguage,
    event.selectedinterfacelanguage,
    Count(*) AS n_events
FROM event.universallanguageselector
WHERE
    year = 2021
    AND ((Month = 04 AND DAY > 26) OR (MONTH = 05))
    AND event.context = 'languages-list'
GROUP BY
    TO_DATE(dt),
    wiki,
    event.web_session_id,
    event.usereditbucket,
    event.timetochangelanguage,
    event.isanon,
    event.interfacelanguage,
    event.contentlanguage,
    event.selectedinterfacelanguage
"

In [15]:
lang_link_events <-  wmfdata::query_hive(query)

Don't forget to authenticate with Kerberos using kinit

In [17]:
lang_link_events$date <- as.Date(lang_link_events$date)

## Daily Langauge Link Events

In [23]:
lang_link_events_daily <- lang_link_events %>%
    group_by(date) %>%
    summarize(n_events = sum(n_events),
             n_sessions = n_distinct(web_session_id))

lang_link_events_daily

`summarise()` ungrouping output (override with `.groups` argument)

   date       n_events n_sessions
1  2021-04-28    791      636
2  2021-04-29  46934    33173
3  2021-04-30 274519   177001
4  2021-05-01 243709   151370
5  2021-05-02 258630   161650
6  2021-05-03 303583   195465
7  2021-05-04 300642   194931
8  2021-05-05 295520   191876
9  2021-05-06 291788   190268
10 2021-05-07 265159   171239
11 2021-05-08 225456   141143
12 2021-05-09 244182   152870
13 2021-05-10 301699   196353
14 2021-05-11 296753   193206
15 2021-05-12  82252    56524

We start recording events on 28 April 2021. There are an average 176,447 sessions per day including sessions by both logged in and logged out users. No unexpected spikes or drops so far.

## By Logged In Status

In [32]:
lang_link_events_isanon <- lang_link_events %>%
    group_by(isanon) %>%
    summarize(n_events = sum(n_events),
             n_sessions = n_distinct(web_session_id))

lang_link_events_isanon

`summarise()` ungrouping output (override with `.groups` argument)

  isanon n_events n_sessions
1 false   105911    43258
2 true   3325706  1922413

97.8% of all sessions with clicks to the language links are by logged out users. That's high but expected because instrumentation was limited to legacy sidebar in modern Vector (not from legacy or other skins such as timeless). The new language switching functionality was made available to all logged-in users opted into the latest version of the Vector skin.

Legacy sidebar in modern Vector would mostly appear to logged-out users on test wikis where Vector is deployed as default.

## By Test Wiki

In [36]:
# events and sessions that include link to language link by test wiki
lang_link_events_testwiki <- lang_link_events %>%
    filter(wiki %in% c('frwiktionary', 'hewiki', 'ptwikiversity', 'frwiki', 
    'euwiki', 'fawiki', 'ptwiki', 'kowiki', 'trwiki', 'srwiki', 'bnwiki', 'dewikivoyage', 'vecwiki' )) %>%
    group_by(wiki) %>%
    summarize(n_events = sum(n_events),
             n_sessions = n_distinct(web_session_id))

lang_link_events_testwiki

`summarise()` ungrouping output (override with `.groups` argument)

   wiki          n_events n_sessions
1  bnwiki           8451     5726
2  dewikivoyage      755      604
3  euwiki          31609    22351
4  fawiki         200781   110092
5  frwiki        1933743  1091442
6  frwiktionary    21307    13350
7  hewiki         173526   100165
8  kowiki         146461    81522
9  ptwiki         555228   328675
10 ptwikiversity      15       13
11 srwiki          98359    56521
12 trwiki         256347   151107
13 vecwiki          1348     1133

In [39]:
# events and sessions that include link to language link by test wiki category and logged-in status
lang_link_events_testwiki_isanon <- lang_link_events %>%
    mutate(istestwiki = ifelse(wiki %in% c('frwiktionary', 'hewiki', 'ptwikiversity', 'frwiki', 
    'euwiki', 'fawiki', 'ptwiki', 'kowiki', 'trwiki', 'srwiki', 'bnwiki', 'dewikivoyage', 'vecwiki' ), 'test_wiki', 'non_test_wiki')) %>%
    group_by(istestwiki, isanon) %>%
    summarize(n_events = sum(n_events),
             n_sessions = n_distinct(web_session_id))

lang_link_events_testwiki_isanon

`summarise()` regrouping output by 'istestwiki' (override with `.groups` argument)

  istestwiki    isanon n_events n_sessions
1 non_test_wiki false     3540     1422
2 non_test_wiki true       147       80
3 test_wiki     false   102371    41836
4 test_wiki     true   3325559  1922334

Almost all of the events recorded to date (99%) have been on test wikis. This is expected as the new language switcher button was deployed to all users opt'd in to the modern vector on all non test wikis. Users with modern vector on the test wikis have not been shown the new language switcher and still shown the language links in the sidebar.

On non test wikis, the majority (94.67%) of sessions with clicks to the language list on modern vector come from logged-in users. Need to confirm if it's possible to have language link in sidebar if you are logged-in, on modern vector and on a non test wiki.

## By User Edit Bucket

In [30]:
logged_in_editcount <- lang_link_events %>%
    filter(isanon == 'false') %>%
    group_by(usereditbucket) %>%
    summarize(n_events = sum(n_events),
             n_sessions = n_distinct(web_session_id))

logged_in_editcount

`summarise()` ungrouping output (override with `.groups` argument)

  usereditbucket n_events n_sessions
1 0 edits        20092    10961
2 1-4 edits      11510     5643
3 100-999 edits  17264     6533
4 1000+ edits    31482     8932
5 5-99 edits     25556    11332
6 NULL               7        5

In [31]:
logged_out_editcount <- lang_link_events %>%
    filter(isanon == 'true') %>%
    group_by(usereditbucket) %>%
    summarize(n_events = sum(n_events),
             n_sessions = n_distinct(web_session_id))

logged_out_editcount

`summarise()` ungrouping output (override with `.groups` argument)

  usereditbucket n_events n_sessions
1 5-99 edits           1        1
2 NULL           3325705  1922412

There are just a few instances (under 0.01%) of the event.usereditbucket field being populated for logged out users and recorded as NULL for logged-in users. Further investigation might be needed; however, the numbers of these events is not high enough to skew the data.

## By Final Language

In [43]:
# test that you can switch from one language to the next.
top_final_languages <- lang_link_events %>%
    mutate(all_sessions = n_distinct(web_session_id)) %>%
    group_by(selectedinterfacelanguage) %>%
    summarize(n_sessions = n_distinct(web_session_id),
             pct_sessions = n_sessions/all_sessions) %>%
    distinct() %>%
    arrange(desc(n_sessions))

head(top_final_languages )

`summarise()` regrouping output by 'selectedinterfacelanguage' (override with `.groups` argument)

  selectedinterfacelanguage n_sessions pct_sessions
1 en                        1443105    0.73470332
2 es                         128358    0.06534871
3 de                         125061    0.06367016
4 it                          65010    0.03309743
5 ar                          64408    0.03279094
6 ru                          52428    0.02669177

The most frequent language switches are to english (73% of sessions) followed by spanish (6.5%), and german (6.3%).

## By Initial Language

In [48]:

top_initial_languages <- lang_link_events %>%
    mutate(all_sessions = n_distinct(web_session_id)) %>%
    group_by(interfacelanguage, contentlanguage) %>%
    summarize(n_sessions = n_distinct(web_session_id),
             pct_sessions = n_sessions/all_sessions) %>%
    distinct() %>%
    arrange(desc(n_sessions))

head(top_initial_languages )

`summarise()` regrouping output by 'interfacelanguage', 'contentlanguage' (override with `.groups` argument)

  interfacelanguage contentlanguage n_sessions pct_sessions
1 fr                fr              1103742    0.56192925
2 pt                pt               328012    0.16699513
3 tr                tr               150977    0.07686433
4 fa                fa               109989    0.05599681
5 he                he               100125    0.05097493
6 ko                ko                81429    0.04145655

The interfacelanguage and contentlanguage will usually be the same and should match for most instances, which is confirmed here.

The top initial languages all from test wikis, which is expected since the language links are still shown to all logged-in and logged-out users on modern vector. The new language switcher, which replaces the lang links with a button, are show to all logged-in users opt'd into modern vector on non-test wikis.

In [ ]:
## Most Frequent Switch Types

In [49]:
top_final_languages <- lang_link_events %>%
    mutate(all_sessions = n_distinct(web_session_id)) %>%
    group_by(interfacelanguage, selectedinterfacelanguage) %>%
    summarize(n_sessions = n_distinct(web_session_id),
             pct_sessions = n_sessions/all_sessions) %>%
    distinct() %>%
    arrange(desc(n_sessions))

head(top_final_languages )

`summarise()` regrouping output by 'interfacelanguage', 'selectedinterfacelanguage' (override with `.groups` argument)

  interfacelanguage selectedinterfacelanguage n_sessions pct_sessions
1 fr                en                        775769     0.39495398
2 pt                en                        264373     0.13459570
3 tr                en                        118824     0.06049483
4 fa                en                         95622     0.04868239
5 fr                de                         94915     0.04832245
6 he                en                         84668     0.04310557

39% of all sessions are switches are from French to English.